:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: black;
  background-image: url('./images/space.png');
  background-repeat: no-repeat;
  background-size: 80rem 80rem;
  background-position: center;
}

.header {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0rem;
}

.jason_img {
  height: 12.5rem;
  width: auto;
  border-radius: 3%;
}

.jason_img:hover {
  cursor: pointer;
  opacity: 0.6;
}

.block {
  border: 1px solid white;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 1rem;
  height: 5rem;
  padding: 1rem;
}

.head_1 {
  padding-left: 3rem;
  font-weight: bold;
  font-size: 2rem;
}

.image_1 {
  height: 20rem;
  width: auto;
  border: 0.00001px solid black;
  background-image: url('./images/night_sky.jpg');
}

li > img:hover {
  opacity: 0.2;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: black;
  opacity: 0.6;
}

li > img {
  padding: 2rem;
  height: 11rem;
}

.border_1 {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: black;
}
.image_border {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 0rem;
}

.reading {
  text-decoration: underline;
  font-weight: bold;
  color: white;
  padding: 1rem;
  border: 1px solid blue;
  background-color: blue;
  height: 1rem;
  width: 8rem;
  border-radius: 1rem;
  position: absolute;
  right: 1rem;
  bottom: -2rem;
}
.reading:hover {
  cursor: pointer;
  opacity: 0.6;
}

nav {
  color: white;
  text-align: left;
  border: 0.0001rem solid white;
  background-color: white;
  margin-right: 12.5rem;
  margin-left: 12.5rem;
  color: black;
  position: relative;
  border-radius: 1rem;
}

article > h1 {
  font-size: 2rem;
}

nav > h1 {
  font-weight: bold;
}

.code,
.react {
  width: 100%;
  object-fit: cover;
  height: 6rem;
  overflow: hidden;
  clip: rect(10, 10, 10, 10);
  padding: 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.h2 {
  font-size: 0.75rem;
}

.header_img {
  display: flex;
  align-items: baseline;
}

.header-img {
  padding: 0.5rem;
  font-size: 1.1rem;
}
.lorem {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.stay_con {
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
}

.sp {
  font-size: 0.75rem;
  padding: 1rem;
}
.footer > h2 {
  font-size: 1rem;
  padding: 1rem;
}

.footer {
  color: white;
  align-content: center;
  text-align: center;
  background-color: black;
}
